:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.next {
  padding: 10px;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  color: skyblue;
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  padding: 10px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  color: skyblue;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.siema {
  display: block;
  text-align: center;
}
